 <div class="text-right">

       <% if user_signed_in? %>

      <!-- Links when logged in -->

              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>

    <% else %>
     <h2> <strong> Log In to See Shit</strong></h2>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>

 </div>

  <%= form_for :query,url:  search_path, method: :get do |f|   %>
      <%= f.search_field :query, as: :search, id: 'venue_address', placeholder:"search by location" %>
      <%= f.submit %>
  <% end %>
 <div id="map" style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"  ></div>


 <div id="current-match">

 </div>

<% if user_signed_in? %>
    <p> Wanna Buy Some Credits</p>
    <% @credit_packs.each do |c_p| %>
        <%= c_p.name %>
        <%= humanized_money_with_symbol c_p.price_cents %>

        <%= form_tag orders_path do %>
        <%= hidden_field_tag 'credit_pack_id', c_p.id %>
         <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
    <% end %>

<% end %>


<div class="text-center">
<h1>  Vote for your team </h1>
</div>
<div class="layout-page">
 <% if user_signed_in? %>
   <% @matches.each do |match| %>
   <div >
     <%= render 'shared/card', match: match %>
    </div>
   <% end %>
 <% end %>
</div>



<script>

</script>
